<odoo>

    <menuitem id="hospital_root" name="Hospital" sequence="0"/>
    <menuitem id="hospital_ressources"
              name="Ressources"
              parent="hospital_root"
              sequence="0"
    />
    <menuitem id="hospital_doctors"
              name="Doctors"
              sequence="1"
              parent="hospital_ressources"
              action="my_hospital.action_hospital_doctors"
    />
    <menuitem id="hospital_patient"
              name="Patients"
              sequence="1"
              parent="hospital_ressources"
              action="my_hospital.action_hospital_patients"
    />

    <menuitem id="hospital_transactions"
              name="Transactions"
              sequence="20"
              parent="hospital_root"
    />

    <menuitem id="hospital_appointments"
              name="Appointments"
              sequence="1"
              parent="hospital_transactions"
              action="my_hospital.appointments_action"
    />
</odoo>
